.header {
  padding: 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.header__links {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.header__link {
  padding: 12px 32px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
  background-color: #a6adff;
  border: 2px solid transparent;
  transition: 0.3s;
}

.header__link_o {
  background-color: transparent;
  border: 1px solid #a6adff;
  transition: 0.3s all;
}

.header__link:focus-visible {
  border-color: #4f58be;
}

.header__link:hover {
  background-color: #2a18ff;
  color: #fff;
}

.header__link_o:hover {
  border-color: #2a18ff;
}

@media (max-width: 1140px) {
  .header {
    padding: 32px 0 40px;
  }
}

@media (max-width: 940px) {
  .header {
    padding: 24px 0 30px;
  }

  .header__link {
    padding: 10px 16px;
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 24px 0 20px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__links {
    max-width: 290px;
  }

  .header__link {
    width: 100%;
  }
}
