.hero {
  padding: 60px 0 50px;
}

.hero__container {
  position: relative;
  padding-top: 57px;
  padding-bottom: 57px;
}

.hero__container::after {
  content: '';
  position: absolute;
  right: -9px;
  top: 0;
  bottom: 0;
  width: 421px;
  background: url('../assets/img/laptop.png') no-repeat center/contain;
}

.hero__title {
  max-width: 780px;
  position: relative;
  font-size: 90px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  z-index: 2;
}
