.vacancy {
  height: 100%;
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  cursor: pointer;
}

.vacancy__img {
  max-height: 44px;
  margin-bottom: 12px;
  display: block;
}

.vacancy__company {
  margin-bottom: 8px;
  font-size: 20px;
}

.vacancy__title {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 8px;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 4px;
  background-color: #eaecff;
}

.vacancy__field {
  color: #ccc;
}
